// how long between updates in minutes
long SLEEP_DURATION = 30;
// wakeup time (hours: ex. 5 = 5:00am)
int  WAKEUP_TIME    = ;
// long sleep, don't update over night (hours: ex. 21 = 21:00/9:00pm) (there will be one extra after this time)
int  SLEEP_TIME     = ;

// model: GxGDEW0213M21
// resolution: 212x104

// model: GDEM0213B74
// resolution: 250x122

// GxGDEW0213M21 or GDEM0213B74
const char* MODEL    = "GDEM0213B74";

// screen resolution
int DISPLAY_HEIGHT   = 122;
int DISPLAY_WIDTH    = 250;

// Change to your WiFi credentials
const char* SSID     = "";
const char* PASSWORD = "";

// Use your own API key by signing up for a free developer account at https://openweathermap.org/
String API_KEY  = "";
String API_URL  = "https://api.openweathermap.org";

// Set your location according to OWM locations
// See: http://bulk.openweathermap.org/sample/
String CITY             = "";
// OR use the city id
// See: city.list.json.gz from http://bulk.openweathermap.org/sample/
String CITY_ID          = "";
// Display name for your city (use acronym for long city names)
String CITY_DISPLAY     = "";
String COUNTRY          = "";
// Only the weather description is translated by OWM
String LANGUAGE         = "EN";

// Use 'M' for Metric or I for Imperial
String UNITS            = "" ;

// Choose your time zone from: https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv
const char* TIMEZONE    = "";
// Or, choose a time server close to you, but in most cases it's best to use pool.ntp.org to find an NTP server
const char* NTP_SERVER  = "pool.ntp.org";

// See: https://www.cplusplus.com/reference/ctime/strftime/
const char* DATE_FORMAT = "%Y-%m-%d";
const char* TIME_FORMAT = "%R";

// Number of decimal places to show on termperatures and wind
int DECIMALS            = 0;

// US (-5Hrs) is typically -18000
int GMT_OFFSET_SEC      = -18000;
// 1 hours (3600 seconds)
int DAYLIGHT_OFFSET_SEC = 3600;
